h1{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #3f51b5;
}

.mat-typography{
    text-align: center;
}