h1{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0;
    gap: 50px;
    background-color: #3f51b5;
}

.title button a {
    text-decoration: none;
    color: #3f51b5;
    padding: 5px 10px;
}

.mat-typography{
    text-align: center;
}