<div class="navbar">
    <button mat-raised-button routerLink="" color="primary">Home</button>
    <button mat-raised-button routerLink="Typography" color="primary">Typography</button>
    <button mat-raised-button routerLink="Buttons" color="primary">Buttons</button>
    <button mat-raised-button routerLink="ButtonsToggle" color="primary">Buttons Toggle</button>
    <button mat-raised-button routerLink="Icons" color="primary">Icons</button>
    <button mat-raised-button routerLink="Badges" color="primary">Badges</button>
    <button mat-raised-button routerLink="ProgressSpinner" color="primary">Progress Spinner</button>
    <button mat-raised-button routerLink="ProgressBar" color="primary">Progress Bar</button>
</div>