<div class="box">
    <div class="title">
        <h1>Angular Materials Buttons EX.</h1>
        <button mat-raised-button><a href="https://material.angular.io/components/button/examples"
                target="_blank">Angular Materials Buttons Exemples</a></button>
    </div>
    <div class="start">
        <h2>Start by import the Module in the Module Area</h2>
        <code> MatButtonModule from '@angular/material/button'</code>
    </div>
    <div class="ButtonsTypes">
        <div>
            <h2>Buttons Types :
            </h2>
            <p>There is 4 Types of Buttons</p>
        </div>
        <div>
            <button mat-button>Mat-Button EX</button>
            <button mat-raised-button>Mat-raised-Button EX</button>
            <button mat-flat-button>Mat-flat-Button EX</button>
            <button mat-stroked-button>Mat-flat-Button EX</button>
        </div>
    </div>
    <div class="ButtonsTypes">
        <div>
            <h2>Buttons Icon Types :
            </h2>
            <p>Take the Difault Color From Angular Material</p>
        </div>
        <div>
            <button mat-icon-button>Icon</button>
            <button mat-fab>Fab</button>
            <button mat-mini-fab>Mini</button>
        </div>
    </div>
    <div class="ButtonsTypes">
        <div>
            <h2>Colors Types :
            </h2>
            <p>There is 3 Primary Colors</p>
        </div>
        <div>
            <button color="primary" mat-button>Primary</button>
            <button color="accent" mat-button>Accent</button>
            <button color="warn" mat-button>warn</button>
        </div>
    </div>
    <div class="ButtonsTypes">
        <div>
            <h2>How to Disable the Button Animation Effect :
            </h2>
            <p>Add "disableRipple" To the Element</p>
        </div>
        <div>
            <button disableRipple color="primary" mat-button>Primary</button>
        </div>
    </div>
</div>