h1 {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #3f51b5;
}

.title button a {
    text-decoration: none;
    color: #3f51b5;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}

.start h2{
    color: rgb(187, 0, 0);
}

.ButtonsTypes{
    margin: 15px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: #3f51b5 1px solid;
}

button{
    margin: 30px 15px;
}
